# Игнорирование виртуальных окружений
.venv/
venv/
venv*/
ven*/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*.pyo

# Кэш pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Логи и временные файлы
*.log
*.tmp

# Файлы IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Исключение папок, которые не нужны
utils/
external_libraries/
external/
libraries/
/project_stats.csv
/project_stats.html
/import_chart_bar_20250808_191904.png
/import_chart_pie_20250808_191901.png
.cursorrules
.cursorignore
.cursor.toml
/PATTERNS_FINAL_REPORT.md
/PATTERNS_REPORT.md
